<li class="comments ui-state-default" id="comments-item">
    <div class="poster" id="poster"><strong >Poster: </strong> {{ this.posterUser }}</div>
    <div class="comment" id="comment"><strong >Comment: </strong> {{ this.comment }}</div>
</li>