<div class="container">
	<div class="row ">
		<div class="col-sm-12 text-col text-center">
			<div class="col-lg-12">
				<h1>Create User</h1>
				<form id="create-user-form" role="form" style="display: block;">
					<div class="form-group">
						<input id="newUser-name" type="text" tabindex="1" class="form-control" placeholder="Username" value="">
					</div>

					<div class="form-group">
						<input id="newUser-password" type="password" tabindex="2" class="form-control" placeholder="Passwrod" value="">
					</div>

					<div class="form-group">
						<input id="newUser-email" type="text" tabindex="3" class="form-control" placeholder="Email" value="">
					</div>

					<div class="form-group">
						<input id="newUser-fullname" type="text" tabindex="4" class="form-control" placeholder="Full Name" value="">
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<input type="submit" tabindex="5" class="form-control btn btn-login" value="Create">
							</div>
						</div>
					</div>

				</form>
				<div class="alert alert-danger hidden col-sm-6 col-sm-offset-3" id="form-alert"></div>
			</div>
		</div>
	</div>
</div>